.wrapper {
    z-index: 1;
    position: relative;
    box-shadow: 0px 3.81757px 3.81757px rgba(62, 64, 84, 0.2),
        0px 6.10811px 7.63514px rgba(107, 115, 132, 0.14),
        0px 2.29054px 10.6892px rgba(164, 171, 183, 0.12);
    border-radius: $sp-3;
    overflow: hidden;
}
